a {
    color: #FFC857;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 4px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navButton {
    color: #FFC857;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 4px;
    background: none;
    border: none;
    padding: 0;
}

.navButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar-container {
    height: 75px;
    padding-inline: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    background-color: #084C61;
}

.login-container,
.links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-container img {
    width: 50px;
}

@media (max-width: 600px) {
    .navbar-container {
        padding-inline: 50px;
    }
}